@model IndexViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WISSEN INDEX</h1>
    @Html.Partial("ImgPartial",Model)

    <H1>WISSEN INDEX</H1>
    
</body>
</html>